/************************************************************************************
smaller than 1020
*************************************************************************************/
@media screen and (max-width: 1020px) {

header .logo img {
	max-width: 265px;
	width: 92%;
	height: auto;
	padding: 0 4%;
	margin: 0;
	float: left;
} 
header .lang {
	width: 92%;
	height: auto;
	padding: 0;
	margin: 0 4%;
	float: right;;
} 

}


/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

}


/************************************************************************************
smaller than 840
*************************************************************************************/
@media screen and (max-width: 840px) {

}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 560px) {

}
	
	
/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
	
}


/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 320px) {

img.profilbild {
	width: 100%;
	margin: 0 0 12px 0;
}
	
}




